name: Checks

on:
  push:
  pull_request:

jobs:
  py-lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: dmamontov/hass-py-lint@main
        with:
          path: "tests"